.envrc
.innpulsa
.lintr
jairo/
.vscode/
.cursor/
*__pycache__/
*.egg-info/
requirements.txt
*.lock
*.log
bin/
logs/

# anything with checkpoint
*checkpoint*

# raw data
data/

# example script
example.py